# Supabase Configuration
VITE_SUPABASE_URL=your_supabase_url_here
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key_here

# PayOS Configuration
VITE_PAYOS_CLIENT_ID=a7d65a71-afae-4eb2-8b72-4277f29e8d72
VITE_PAYOS_API_KEY=a7d65a71-afae-4eb2-8b72-4277f29e8d72
VITE_PAYOS_CHECKSUM_KEY=c9fe1d09b5f40f07ef430cb4a6192912c9b2d1bb4d9cc1a4159ad0d5f41eef68